[run]
branch = True
omit = *migrations*,
       *urls*,
       *test*,
       *admin*,
       ./manage.py,
       ./dorm-launch-django/config/*,
       ./dorm-launch-django/wsgi.py,
       *__init__*
